<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Migdolas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <!-- Transparent Navbar -->
    <nav class="navbar">
        <div class="menu-btn">☰</div>
        <ul class="nav-links">
            <li><a href="#">Užsisakyti prekę</a></li>
            <li><a href="#">Baldai</a></li>
            <li><a href="#">Pagrindinis</a></li>
            <li><a href="#">Apie mus</a></li>
            <li><a href="#">Kontaktai</a></li>
            <li class="dropdown">
                <a href="#">Daugiau ▼</a>
                <div class="dropdown-content">
                    <a href="#">Nuolaidos</a>
                    <a href="#">Pristatymas</a>
                    <a href="#">Pagalba</a>
                </div>
            </li>
        </ul>
        <div class="search-icon">⚲</div>
    </nav>
    
    <div class="container">
        <br>
        {% block content %}
        {% endblock content %}
    </div>
    
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>